body {
  margin: 0;
  padding: 0;
}

#yellow {
  background-color: yellow;
  padding: 15px;
}

#who-am-i-black {
  background-color:black;
  padding:15px;
  color:white;
}

#my-story-and-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: green;
  padding:15px;
}

#my-story {
  background-color:turquoise;
  padding:15px;
  display: flex;
  flex-direction: column;
  flex:1;
}

#story-skills-title {
  background-color:blue;
  padding:15px;
}

#skills-and-tech {
  background-color:turquoise;
  padding:15px;
  display: flex;
  flex-direction: column;
  flex:1;
}

#paragraph {
  background-color:purple;
  padding:15px;
}

#lets-chat {
  background-color:red;
  padding:15px;
}
