* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("background.png"), linear-gradient(to bottom right, #FDDEDF, #FFB2B4);
  background-repeat: repeat;
  background-size: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  color: #1F1F1F;
  font-size: 1.8em;
  font-weight: 600;
  text-align: left;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 40px 10px 0px 10px;
  padding: 15px 15px 5px 15px;
  text-align: center;
}

h4 {
  color: #1F1F1F;
  font-size: 1em;
  font-weight: 200;
}

h5 {
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
}

#navigationcenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;

}

#title {
  text-align: right;
  margin-bottom: 10px;
}

#herodescription {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 120px;
}

#scrolldown {
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 15px;
  text-align: center;
  font-size: 16px;
}

.scroll-downn {
position: absolute;
top: 18rem;
left: 50%;
transform: translate(-50%);
display: flex;
flex-direction: column;
align-items: center;
}

.mouse {
  width: 1.5rem;
  height: 3rem;
  border: 2px solid #000000;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span {
  width: .5rem;
  height: .5rem;
  background-color: #000000;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1.2s linear infinite;
}

.arrow span {
  display: block;
  width: .5rem;
  height: .5rem;
  border: 2px solid transparent;
  border-right-color: #000000;
  border-bottom-color: #000000;
  transform: rotate(45deg);
  animation: arrow-down .6s alternate infinite;
}

@keyframes move-wheel {
  0%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .25;
  }
  50%{
    opacity: .5;
  }
  75%{
    opacity: .75;
  }
  100%{
    opacity: 1;
  }
}

span {
  font-size: 1em;
  text-align: center;
}

a {
  color: #000000;
  font-weight: 400;
  font-size: 1.4em;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover,
a:focus {
  color: #8468F5;
  text-decoration: bold;
}

a:active {
  color: #895152;
}

#styledbutton {
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(254.15deg, #8468F5 9.31%, #EC74E7 117.17%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 16px;
  transition: 0.3s opacity;
  min-width: 112px;
}

.planesvg {

  margin-left: 10px;
  height: 15px;
}

.sqare {
  display: none;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 30px;
  transition: 0.2s opacity;
}

.button:hover {
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #EEEEEE;
  color: #000000;
}

.button.contact {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(254.15deg, #8468F5 9.31%, #EC74E7 117.17%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: 12px 14px 13px 12px;
  height: 50px;
  width: 50px;
  border-radius: 60%;
  transition: 0.3s opacity;
}

.button.contact:hover .button:focus {
  opacity: 0.8;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}

.button.contact:active {
  opacity: 0.8;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}

/*Styling layout*/
.containerfooter {
  padding: 10px;
}

.spacebetween {
  width: 100%;
  margin: 10px 0 50px 0;
}

.illustrationtop1 {
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  margin-top: -120px;
  margin-right: 90px;
}

.illustrationbottom1 {
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  margin-top: -30px;
  margin-right: 10px;
  width: 100%;
}
}

.line {
  width: 100%;
  margin: 10px 0 25px 0;
  border-bottom: 1px solid #4a4a4a;
}

.row {
  width: 100%;
  margin: 10px 0 25px 0;
  border-bottom: 1px solid #4a4a4a;
}

#work {
  padding: 20px;
  margin-top: 10px
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

img.pic {
  box-shadow: 0px 2px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#hero {
  padding: 0px 0 10px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 100px;
  top: 5%;
  left: 5%;
}


/*
.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 23px;
  padding-right: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
*/

.projects {
  position: fixed;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 104.5%;
  color: #1F1F1F;
}

/*
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding: 10px;
  box-shadow: (0, 0, 0);
  z-index: -2;
}*/

nav {
  height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /**grid-row-gap: 30px;**/

  height: 100%;
  width: 50%;
}

#nav-links-wrapper {
  display:flex;
  flex-direction: row;
  column-gap:30px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  font-size: 15px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
}

nav>ul>li>a:active {
  color: #8468F5;
  font-weight: 500;
  transition: 0.3s opacity;
}

nav>ul>li>a:hover {
  color: #8468F5;
  font-weight: 500;
  transition: 0.3s opacity;
}

ul.footer {
  text-align: center;
}

.bottom {
  text-align: center;
  font-size: 16px;
}

.footer {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  vertical-align: bottom;
  display: inline-block;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.footer li a {
  margin: 0;
  padding: 0;
}

.footer li svg {
  vertical-align: bottom;
  height: 50px;
  width: auto
}

.berlin {
  width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 17s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}


/*about page*/
.containerabout {
  padding: 20px;
}

#boxes {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 0 0 20px;
}

#mystory {
  position: fixed;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 104.5%;
}

#mystory2 {
  margin: 20px 25px 0 25px;
  text-align: left;
}

.mystory1 {
  list-style-type: none;
  width: 100%;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.mystory1 li {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.box1 {
  width: auto;
  height: auto;
  background: rgba(255, 192, 194, 0.64);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.profilepic img {
  box-shadow: 0px 4px 19px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.skills1 {
  margin-left: 25px;
  margin-top: 5px;
  text-align: left;
}

div.box3 {
  width: 100%;
  margin: 30px 0;
  background: rgba(255, 192, 194, 0.64);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

div.box2 {
  width: 100%;
  margin: 30px 0;
  background: rgba(255, 192, 194, 0.64);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.tech1 {
  margin-left: 25px;
  margin-top: 5px;
  text-align: left;
}

main ul li {
  list-style-type: none;
}

/*SOMA CASE STUDY*/
.containersoma {
  background-color: white;
  color: #193441;
  padding: 10px;
}

.iterations {
  text-align: center;
  margin: 30px 0 30px 0;
}

.top {
  margin: 25px 0 25px 0;
  padding: 10px 0 10px 0;
}

#love {
padding: 0 150px 0 150px;
}


/* ========= SCREEN SIZES ========= */
@media only screen and (max-width: 639px) {

.line {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  border-radius: 50px;
}

nav {
  position: relative;
}

#nav-links-wrapper {
  display:flex;
  flex-direction: column;
  row-gap:40px;
  align-items: center;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 20;
}

  .nav-links {
    position: fixed;
    padding-top:
    top: 0;
    left: 0;
    z-index: 10;
    background: #FAC9CA;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 0.7s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(600px at 90% -10%);
    -webkit-clip-path: circle(600px at 90% -20%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }

  li.fade{
    opacity: 1;
  }

}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

/*
  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}
*/
a {
  font-size: 1em;
}

.nav-links {
  pointer-events: all !important;
}

  nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    z-index: 100;
    box-shadow: 0px 0px 0px;
    padding: 0px 20px 10px 20px;
  }

  nav>ul>li>a {
    text-transform: none;
    padding: 0 20px;
  }

  .logo {
    max-width: 120px;
    padding-left: 10px;
    top: 1%;
    text-align: left;
  }

  #styledbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(254.15deg, #8468F5 9.31%, #EC74E7 117.17%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.3s opacity;
  }

  #styledbutton:hover {
    opacity: 0.8;
    color: #ffffff;
    font-weight: 400;
  }

  #styledbutton:active {
    opacity: 1.2;
    background-color: #ffffff;
    color: #ffffff;
  }

  .projects {
    font-size: 50px;
  }

  .sqare {
    display: block;
    transform: rotate(90deg);
    position:absolute;
     right: 350px;
      top:220px;
      z-index:-1;
  }

  #title {
    text-align: left;
  }


  .projectcontainer {
    padding: 0 80px;
  }

  /*------ SOMA CASESTUDY -------*/
  #overview-problem-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    gap: 40px;
    font-size: 14px;
  }

  #competitor-analysis-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 100px 0 40px;
  }

  #ujm-wrapper {
    font-size: 14px;
    padding: 0 40px;
    margin-top: 60px;
  }

  #user-flow-wrapper {
    font-size: 14px;
    padding: 0 40px;
    margin-top: 60px;
  }

  #sitemap-wrapper {
    font-size: 14px;
    padding: 0 40px;
    margin-top: 60px;
  }

  #title-text-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 40px;
  }

  #text-wrapper {
    font-size: 15px;
    padding: 0 40px;
  }

  #solution-wrapper {
    padding: 40px 40px;
    font-size: 14px;
  }

  #prototype-wrapper {
    display: flex;
    justify-content: center;
    width: auto;
  }

  #love {
  padding: 0 300px 0 300px;
  }

  /*------ SOMA CASESTUDY END -------*/
  /*------ ABOUT -------*/
  #mystory {
    font-size: 50px;
  }

  #boxes {
    padding: 15px 60px 15px 60px;
  }



  #skills-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    height: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  nav {
    padding: 0px 50px 0 150px;
  }

  .logo {
    top: 2%;
    max-width: 120px;
    padding-left: 10px;
    text-align: left;
  }

.sqare {
  display: block;
  transform: rotate(90deg);
  position:absolute;
   right: 400px;
    top:220px;
    z-index:-1;
}

  .projects {
    font-size: 70px;
    min-width: 200px;
  }

  .projectcontainer {
    padding: 0 300px;
  }

  #mystory {
    font-size: 70px;
    max-width: 200px;
  }

  #boxes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 300px 15px 300px;
    font-size: 16px;
  }

  #overview-problem-wrapper {
    justify-content: center;
    padding: 30px 70px;
    gap: 60px;
  }

.ctn {
  padding: 0 70px;
}

#love {
padding: 0 220px 0 220px;
}

.containersoma {
  padding: 230px;
}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .scroll-downn {
  top: 18rem;
  }

  body {
    font-size: 23px;
  }

  .logo {
    max-width: 150px;
    padding-left: 10px;
    text-align: left;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
  }

#work {
  padding: 0 150px;
}

.projects {
  font-size: 90px;
  min-width: 200px;
}

#boxes {
  align-items: stretch;
  padding: 15px 330px 15px 330px;
}

#mystory {
  margin-top: 170px;
  font-size: 90px;
  max-width: 200px;
}

.ctn {
  padding: 0 120px;
}

#overview-problem-wrapper {
  justify-content: center;
  padding: 30px 120px;
  gap: 60px;
}

#love {
padding: 0 550px 0 550px;
}

}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {

  .scroll-downn {
  top: 25rem;
  }

  #herodescription {
    margin-bottom: 250px;
  }

  #hero {
    padding: 50px 0 10px 0;
  }

  body {
    font-size: 25px;
  }

nav > ul > li > a {
  font-size: 15px;
}

.logo {
  max-width: 170px;
}

#styledbutton {
  padding: 10px 20px;
  font-size: 20px;
}

.sqare {
   right: 600px;
    top:400px;
    z-index:-1;
}

#work {
  padding: 0 300px;
}

.ctn {
  padding: 0 150px;
}

.containersoma {
  font-size: 1.3em;
}

#overview-problem-wrapper {
  justify-content: center;
  font-size: 0.7em;
  padding: 30px 200px;
  gap: 90px;
}

#competitor-analysis-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#ujm-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#user-flow-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#sitemap-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#title-text-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#text-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#solution-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

#prototype-wrapper {
  font-size: 0.7em;
  padding: 30px 200px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#love {
padding: 0 960px 0 960px;
}

.projects {
  font-size: 110px;
  min-width: 200px;
}

#boxes {
  align-items: stretch;
  padding: 15px 500px 15px 500px;
}

#mystory {
  font-size: 110px;
  max-width: 200px;
}

#mystory2 {
  font-size: 23px;
}

.box2, .box3 {
  font-size: 23px;
}

}

/* ==============================
Extra-large devices (2560px or larger)
================================= */
@media only screen and (min-width: 2560px) {

  #work {
    padding: 300px;
  }

  #boxes {
    padding: 15px 700px 15px 700px;
  }

}
